<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth Special Protection Division</title>
    <link rel="stylesheet" href="/style.css"/>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class="main" id="landingBox">
        <h1>Earth Special Protection Division</h1>
        <a href="/army"><img src="/images/JSDF1.png" width="50%" id="landingPage"></a>
        <p id="landingPageText">Welcome to the Earth Special Protection Division.  We are dedicated to the safety and well-being of Earth from all strange forces.</p>
    </div>
</body>
</html>