<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Earth Special Protection Division</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1>Earth Special Protection Division</h1>
    <p>This is the landing page for the Earth Special Protection Division</p>
    <a href="/army">Click here to see the army</a>
</body>
</html>