<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= soldier.soldierName%></title>
</head>
<body>
    <%- include('./partials/nav.ejs')%>
    <h1><%= soldier.soldierName%></h1>
</body>
</html>